#map-container{
    display: flex;
}


#mainMap{
    border-radius: 25px;
    height: 400px;
    width:70%
}

.sidenav{
    width:30%;
}

.sidenav > h2{
    border-style: solid;
    border-color: #92a8d1;
    text-align: center;
}

#panel{
    display: flex;
    align-self: center;
    flex-direction: row;
    margin: 0 -40px;
}

#panel > button{
    margin: 0 40px;
}

#panel > button:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}